<p id="notice"><%= notice %></p>

<h1>Trainees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Distance</th>
      <th>Job category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainees.each do |trainee| %>
      <tr>
        <td><%= trainee.name %></td>
        <td><%= trainee.gender %></td>
        <td><%= trainee.age %></td>
        <td><%= trainee.distance %></td>
        <td><%= trainee.job_category %></td>
        <td><%= link_to 'Show', trainee %></td>
        <td><%= link_to 'Edit', edit_trainee_path(trainee) %></td>
        <td><%= link_to 'Destroy', trainee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trainee', new_trainee_path %>
